DATABASE_URL="postgresql://postgres:postgres@localhost:5433/gastosapp?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5433/gastosapp?schema=public"
AUTH_SECRET="change-this-with-at-least-32-characters"
APP_URL="http://localhost:3000"
